<app-detalle *ngIf="clienteSeleccionado" [cliente] = "clienteSeleccionado"></app-detalle>
<div class="card bg-light mb-100">
    <div class="card-header">Clientes</div>
    <div class="card-body">
        <h5 class="card-title">Listado de clientes</h5>
        <div class="my-2 text-left">
            <button 
                *ngIf="authService.hasRole('ROLE_ADMIN')" 
                class="btn btn-rounded btn-primary" 
                type="button" [routerLink]="['/clientes/form']">
                Crear Cliente
            </button>
        </div>
        <div *ngIf="clientes?.length == 0" class="alert alert-info">
            No hay registros en la base de datos!
        </div>
        <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0">
            <thead>
                <tr>
                    <!--<th *ngIf="authService.hasRole('ROLE_USER')" >Perfil</th>-->
                    <th>Perfil</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')" >Editar</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')" >Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <!--<td *ngIf="authService.hasRole('ROLE_USER')" >-->
                    <td>
                        <img
                            (click)="abrirModal(cliente)" 
                            *ngIf="cliente?.foto"
                            src="http://localhost:8080/api/clientes/uploads/img/{{cliente.foto}}" 
                            alt="{{cliente.foto}}" 
                            class="img-thumbnail rounded"
                            style="width: 64px; cursor: pointer;">
                        <img
                            (click)="abrirModal(cliente)" 
                            *ngIf="!cliente?.foto"
                            src="http://localhost:8080/images/no_user_icon.png"
                            alt="Sin foto" 
                            class="img-thumbnail rounded"
                            style="width: 64px; cursor: pointer;">
                    </td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido | uppercase}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')" >
                        <button 
                            type="button" 
                            name="editar" 
                            [routerLink]="['/clientes/form/', cliente.id]" class="btn btn-primary btn-sm">
                            Editar
                        </button>
                    </td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')" >
                        <button type="button" name="eliminar" class="btn btn-danger btn-sm" (click)="delete(cliente)">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--
            clientes.component es el componente padre y paginator.component es el hijo 
            El atributo entre [paginador] corresponde al hijo y en la clase padre usamos el atributo que vamos a injectar en el hijo.
        -->
        <app-paginator *ngIf="paginador" [paginador] = "paginador"></app-paginator>
    </div>
</div>